#formflow-edit {
    position: relative;

    .formflow-save-button {
        margin-top: 40px;
    }
    .formflow-tabwrap {
        display: flex;
        transition: opacity 0.1s;

        &.saving {
            opacity: 0.4;
            pointer-events: none;
        }
    }
}
