.formflow-entries {
    width: calc( 100% - 80px );
    margin: 40px auto;

    .entries-controls {
        display: flex;
        justify-content: space-between;

        select {
            margin-left: 10px;
            min-width: 100px;
        }
    }
    table {
        border: none;
        border-collapse: collapse;
        width: 100%;
        margin: 20px 0;

        thead {
            td {
                background-color: #F6F7F7;
                border: 1px solid #c3c4c7;
                font-weight: 600;
            }
        }
        td {
            padding: 10px 20px;
        }
    }
}
