.formflow-tablist {
    flex-basis: 0;
    min-width: 120px;
    margin: 15px -1px 15px 0;
    position: relative;
    z-index: 10;
    background-color: #DCDCDE;
    border-radius: 10px 0 0 10px;

    .tab {
        padding: 15px;
        margin: 0;
        margin-top: -1px;
        cursor: pointer;
        user-select: none;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid #c3c4c7;

        &:last-child {
            border-bottom: 1px solid transparent;
        }
        &.active {
            position: relative;
            background-color: #FFFFFF;
            border: 1px solid #c3c4c7;
            border-right: none;
            margin-top: -2px;
            margin-left: -1px;
        }
    }
}
