#formflow-edit {
    position: relative;

    .formflow-tabwrap {
        display: flex;
        align-items: flex-start;
        transition: opacity 0.1s;

        &.saving {
            opacity: 0.4;
            pointer-events: none;
        }
    }
    .spinner {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;

        &.is-active {
            display: block;
        }
    }
}
